<div class="bg-white  mt-24 max-w-sm md:max-w-lg mx-auto">
  <div class="text-center">
    <h2 class="text-4xl font-unbounded font-bold text-black mb-4">Login</h2>

    <form class="space-y-4 flex flex-col">
      <input
        type="text"
        placeholder="Username:"
        class="input-field"
      />
      <input
        type="text"
        placeholder="Password:"
        class="input-field"
      />

      <button
        type="submit"
        class="btn btn-primary w-full sm:w-auto"
        disabled
      >
        Login
      </button>
    </form>
  </div>
</div>
