<div class="p-6">
  <!-- Top Navigation Tabs -->
  <div class="flex justify-center mb-6">
    <div class="bg-gray-100 rounded-lg inline-flex overflow-hidden">
      <!-- Project Tab -->
      <button
        class="px-6 py-2 text-xs transition hover:cursor-pointer"
        [ngClass]="{ 'bg-neutral-300': selectedTab === 'project', 'hover:bg-neutral-200': selectedTab !== 'project' }"
        (click)="selectedTab = 'project'">Projects
      </button>

      <!-- Skill Tab -->
      <button
        class="px-6 py-2 text-xs transition  hover:cursor-pointer"
        [ngClass]="{ 'bg-neutral-300': selectedTab === 'skill', 'hover:bg-neutral-200': selectedTab !== 'skill' }"
        (click)="selectedTab = 'skill'">Skills
      </button>

      <!-- Experience Tab -->
      <button
        class="px-6 py-2 text-xs transition  hover:cursor-pointer"
        [ngClass]="{ 'bg-neutral-300': selectedTab === 'experience', 'hover:bg-neutral-200': selectedTab !== 'experience' }"
        (click)="selectedTab = 'experience'">Experiences</button>
    </div>
  </div>

  <!-- Main Content -->
  <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
    <!-- Left: Manage Text -->
    <div class="md:col-span-2">
      <h2 class="text-md font-semibold mb-4">Manage {{ selectedTab | titlecase }}s</h2>
    </div>

    <!-- Right: Add Button -->
    <div class="flex md:justify-end items-start">
      <button class="btn btn-primary">
        Add New {{ selectedTab | titlecase }}
      </button>
    </div>
  </div>

  <!-- Section Divider -->
  <div class="border-t my-6 text-neutral-300"></div>

  <!-- Projects/Experience/Skills List -->
  <div class="bg-white rounded-lg p-6 shadow-sm text-center text-neutral-500">
    @switch (selectedTab) {
      @case ('project') {
        No projects yet
      }
      @case ('experience') {
        No experiences added yet
      }
      @case ('skill') {
        No skills added yet
      }
    }
  </div>
</div>
