<nav class="flex justify-around items-center px-6 py-4 bg-white shadow-md">
  <!-- Logo -->
  <div>
    <h2 class="font-bold">IJ</h2>
  </div>

  <!-- Navigation Links -->
  <div>
    <ul class="hidden md:flex space-x-8 text-gray-700 font-medium">
      <li><a href="#hero" class="hover:text-blue-600 transition">Home</a></li>
      <li><a href="#projects" class="hover:text-blue-600 transition">Projects</a></li>
      <li><a href="" class="hover:text-blue-600 transition">About</a></li>
      <li><a href="" class="hover:text-blue-600 transition">Experience</a></li>
      <li><a href="#skills" class="hover:text-blue-600 transition">Skills</a></li>
      <li><a href="#contact" class="hover:text-blue-600 transition">Contact</a></li>
    </ul>
  </div>

  <!-- Admin -->
  <div>
    <button class="btn btn-primary">Admin</button>
  </div>
</nav>

